<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MovieFinder</title>
	</head>
	
	<body>

		<form>
			<input type="search" name="title"></input>
		</form>


		<h1>MovieFinder Search Results</h1>

		<% if @movie.plot == nil %>

		<h2><%= @movie.title %> for <%= params[:title] %></h2>

		<% else %>

		<h2><%= @movie.title %></h2>

		<p><%= @movie.plot %></p>

		<% end %>

	</body>

</html>